<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <!--<section id="about">
        {% include about.html %}
      </section>-->
        {{ content }}
      {% include footer.html %}
  </body>
  
<iframe
    allow="microphone;"
    width="350"
    height="430"
    src="https://console.dialogflow.com/api-client/demo/embedded/4b226458-ff6e-4656-88c3-2829318951e1">
</iframe>
</html>
